*{
    margin: 0px;
    padding: 0px;
}

.height {
    height: 100vh
}

.card {
    border: none;
    padding: 20px;
    background: linear-gradient(to bottom, #222a42 0%, #1d253b 100%);
    color: #fff
}

.form-input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #6c757d;
}

.form-input i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px
}

.form-control {
    height: 50px;
    text-indent: 24px;
    font-size: 15px
}

.form-control:focus {
    box-shadow: none;
    color: #fff;
    border-color: linear-gradient(
        0deg
        , #ba54f5 0%, #e14eca 100%);
}

.form-check-label {
    margin-top: 2px;
    font-size: 14px
}

.signup {
    height: 50px;
    font-size: 14px
}

.social {
    color: #fff;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ba54f5;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer
}


.social:hover {
    background-color: #0d6efd;
    border-color: #0d6efd
}